{% extends 'user_layout.html' %}
{% block customerTitle %} Car Accessories {% endblock %}
{% block pagename %} Car Accessories {% endblock %}
{% block mainContentCustomer %}
    <div class="content-mid">
            {% for sname,seml,scty,sst,snum in details %}
			<div class="col-md-5">
                <div class="blank-page">
                    <div class="gallery-img">
                    <a href="#nextDescription" class="b-link-stripe b-animate-go  swipebox"  title="Load More" >
                      <img height="260" width="387" src="{{ url_for('static',filename='images/car3.jpg') }}" alt="name">
                        <span class="zoom-icon"> </span> </a>
                    </a>
                    </div>
                </div>
			<!----End Calender -------->
			</div>
			<div class="col-md-7 mid-content-top">
				<div class="middle-content">

					<h3><i class="fa fa-tier"></i>{{ sname }}</h3>

					<br>
					<p  class="text-primary"><i class="fa fa-bookmark"></i> Contact Us:</p>
                    <p style="margin-left: 20px;font-family: Georgia, serif;"><i class="fa fa-angle-double-right"></i> Email: <a href = "mailto: {{ seml }}"> {{ seml }} </a></p>
					<p style="margin-left: 20px;font-family: Georgia, serif;"><i class="fa fa-angle-double-right"></i> Mobile: {{ snum }}</p>
                    <p style="margin-left: 20px;font-family: Georgia, serif;"><i class="fa fa-angle-double-right"></i> City: {{ scty }} </p>
                    <p style="margin-left: 20px;font-family: Georgia, serif;"><i class="fa fa-angle-double-right"></i> State: {{ sst }}</p>

				</div>
            </div>
    <div class="clearfix"></div><br>
    {% endfor %}
</div>
{% endblock %}