{% extends 'landing_layout.html' %}
{% block title %} Customer Register {% endblock %}
{% block pageLink %}Customer Register{% endblock %}
{% block mainContent %}
    <div class="col-md-11">
				<div class="col-md-5"></div>
				<h1> <a class="navbar-brand" href="#"><i class="fa fa-heart"></i> </a></h1></br>

			</div>

		<div class="login-bottom">
			<form enctype="multipart/form-data" id="register_form" method="POST" action="{{ url_for('customerRegister') }}">

			<div class="col-md-12">

                <div class="col-sm-6 login-mail">
					<input type="text" placeholder="First Name" name="customer_fname" required="">
				</div>
                <div class="col-sm-offset-6 login-mail">
					<input type="text" placeholder="Last Name" name="customer_lname" required="">
				</div>
				<div class="login-mail">
					<input type="text" placeholder="Email" name="customer_email" required="">
					<i class="fa fa-envelope"></i>
				</div>
                <div class="login-mail">
					<input type="text" placeholder="Mobile Number" title="Please Enter Valid Number or Starting number must be 7,8, or 9. " name="customer_mobilenumber" required="">
					<i class="fa fa-mobile-phone"></i>
				</div>
                <div class="login-mail">
					<input type="password" placeholder="Password" name="customer_password" required="">
					<i class="fa fa-lock"></i>
				</div>
                <div class="login-mail">
					<input type="password" placeholder="Confirm Password" name="confirm_password" required="">
					<i class="fa fa-lock"></i>
				</div>
				   <a class="news-letter " href="#">
				   <label class=" login-do hvr-shutter-in-horizontal login-sub">
					<input type="submit" value="Register">
					</label>
						<!-- <label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>Forget Password</label> !-->
					   </a>
                <label class="text"> <i class="fa fa-arrow-left"></i> <a class="" href="{{ url_for('customerLogin') }}"> Go Back</a></label>
			    </div>
			    <div class="clearfix"> </div>
			    </form>

        </div>
{% endblock %}