{% extends 'landing_layout.html' %}
{% block title %} Service Provider Login {% endblock %}
{% block pageLink %}Service Provider Login{% endblock %}
{% block mainContent %}
    <div class="col-md-11">
				<div class="col-md-5"></div>
				<h1> <a class="navbar-brand" href="#"><i class="fa fa-black-tie"></i> </a></h1></br>

			</div>

		<div class="login-bottom">
			<form>

			<div class="col-md-12">
				<div class="login-mail">
					<input type="text" placeholder="Email" required="">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Password" required="">
					<i class="fa fa-lock"></i>
				</div>
				   <a class="news-letter " href="#">
				   <label class=" login-do hvr-shutter-in-horizontal login-sub">
					<input type="submit" value="login">
					</label>
						 <!-- <label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>Forget Password</label> --!>
					   </a>
					<label class="text">? New User <a class="" href="{{ url_for('serviceproviderRegister') }}">Register Here</a></span></label><span>

			</div>
			<div class="clearfix"> </div>
			</form>

	</div>
{% endblock %}